<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>内容页_飞飞个人博客</title>
    <meta name="keywords" content="飞飞个人博客"/>
    <meta name="description" content="飞飞个人博客"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/base.css" rel="stylesheet">
    <link href="../../static/css/index.css" rel="stylesheet">
    <link href="../../static/css/m.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../../static/css/public.css" media="all">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/jquery.easyfader.min.js"></script>
    <script src="../../static/js/hc-sticky.js"></script>
<!--    <script src="../../static/js/comm.js"></script>-->
    <script src="../../static/js/scrollReveal.js"></script>
    <!--[if lt IE 9]>
    <script src="../../static/js/modernizr.js"></script>
    <![endif]-->
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div class="tophead">
        <div class="logo"><a href="/">飞飞个人博客</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a href="/index.html">网站首页</a></li>
                <li><a href="/about.html">关于我</a></li>
                <li><a href="/list.html">学无止境</a></li>
                <li><a href="/gbook.html">留言</a></li>
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                <li><a href="/index.html">网站首页</a></li>
                <li><a href="/about.html">关于我</a></li>
                <li><a href="/list.html">学无止境</a></li>
                <li><a href="/gbook.html">留言</a></li>
            </ul>
        </nav>
    </div>
</header>
<article>
    <h1 class="t_nav"><span>您现在的位置是：首页 > 内容页 > 程序人生</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">内容页</a>
    </h1>
    <div class="infos">
        <div class="newsview">
            <h3 class="news_title" th:text="${article.articleName}">个人博客，属于我的小世界！</h3>
            <div class="news_author"><span class="author"><a href=""
                                                             th:text="${article.articleAuthor}">杨青</a></span><span
                    class="timer" th:text="${#dates.format(article.articleDate,'yyyy-MM-dd')}">2018-04-27</span><span
                    class="au03">共<b><script src=""></script>1833</b>人围观</span></div>
            <div class="tags"><a href="/e/tags/?tagname=%B8%F6%C8%CB%B2%A9%BF%CD&amp;tempid=13" target="_blank">个人博客</a>
                &nbsp; <a href="/e/tags/?tagname=%D0%A1%CA%C0%BD%E7&amp;tempid=13" target="_blank">小世界</a></div>
            <div class="news_about" th:text="${article.articleAbstract}"><strong>简介</strong>个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章。
            </div>
            <div class="news_infos" th:utext="${article.articleContent}">


            </div>
        </div>
        <div class="share"></div>
        <div class="nextinfo">
            <p>上一篇：<a href="/news/life/2018-03-13/804.html">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
            <p>下一篇：<a href="/news/life/">返回列表</a></p>
        </div>
        <div class="otherlink">
            <h2>相关文章</h2>
            <ul>
                <li><a href="/download/div/2018-04-22/815.html" title="html5个人博客模板《黑色格调》">html5个人博客模板《黑色格调》</a></li>
                <li><a href="/download/div/2018-04-18/814.html" title="html5个人博客模板主题《清雅》">html5个人博客模板主题《清雅》</a></li>
                <li><a href="/download/div/2018-03-18/807.html" title="html5个人博客模板主题《绅士》">html5个人博客模板主题《绅士》</a></li>
                <li><a href="/download/div/2018-02-22/798.html" title="html5时尚个人博客模板-技术门户型">html5时尚个人博客模板-技术门户型</a></li>
                <li><a href="/download/div/2017-09-08/789.html" title="html5个人博客模板主题《心蓝时间轴》">html5个人博客模板主题《心蓝时间轴》</a>
                </li>
                <li><a href="/download/div/2017-07-16/785.html" title="古典个人博客模板《江南墨卷》">古典个人博客模板《江南墨卷》</a></li>
                <li><a href="/download/div/2017-07-13/783.html" title="古典风格-个人博客模板">古典风格-个人博客模板</a></li>
                <li><a href="/download/div/2015-06-28/748.html" title="个人博客《草根寻梦》―手机版模板">个人博客《草根寻梦》―手机版模板</a></li>
                <li><a href="/download/div/2015-04-10/746.html" title="【活动作品】柠檬绿兔小白个人博客模板">【活动作品】柠檬绿兔小白个人博客模板</a></li>
                <li><a href="/jstt/bj/2015-01-09/740.html" title="【匆匆那些年】总结个人博客经历的这四年…">【匆匆那些年】总结个人博客经历的这四年…</a></li>
            </ul>
        </div>
        <div class="news_pl">
            <h2>文章评论</h2>

            <div class="gbko">
                <form class="layui-form" id="addComment" action="" lay-filter="example">
                    <!-- 评论文章的id值 -->

                    <input type="hidden" name="commentArticleId" th:value="${article.id}">

                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="commentUserName" lay-verify="title" autocomplete="off"
                                   placeholder="请输入用户名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="commentUserEmail" lay-verify="title" autocomplete="off"
                                   placeholder="请输入邮箱" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">评论内容</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" class="layui-textarea" name="commentContent"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 评论留言板 -->

        <div class="volume">
            全部留言 <span th:text="${commentCount}">10</span>
        </div>
        <!-- 分割线 -->
        <hr class="layui-bg-cyan">

        <div class="list-cont">

            <div class="cont" th:each="comment:${comments}">

                <div class="text">
                    <p class="tit"><span>评论用户：</span><span class="name" th:text="${comment.commentUserName}">吳亦凡</span>
                        <span class="data" style="float: right" th:text="${#dates.format(comment.commentDate,'yyyy-MM-dd')}">2018/06/06</span> <span
                                style="float: right">评论时间：</span></p>
                    <br>
                    <p class="ct" th:text="${comment.commentContent}">敢问大师，师从何方？上古高人呐逐一地看完你的作品后，我的心久久
                        不能平静！这世间怎么可能还有如此精辟的作品？我不敢相信自己的眼睛。自从改革开放以后，我就以为再也不会有任何作品能打动我，没想到今天看到这个如此精妙绝伦的作品好厉害！</p>
                </div>
                <!-- 评论分割线 -->

                <hr class="layui-bg-blue">
            </div>

        </div>

    </div>
    <div class="sidebar">
        <div class="search">
            <form action="" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字"
                       style="color: rgb(153, 153, 153);"
                       onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}"
                       onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="lmnav">
            <h2 class="hometitle">栏目导航</h2>
            <ul class="navbor">
                <li><a href="/index.html">首页</a></li>
                <li><a href="/about.html">关于我</a></li>
                <li><a href="list.html">学无止境</a>
                    <ul>
                        <li><a href="list.html">学习笔记</a></li>
                        <li><a href="#">HTML5+CSS3</a></li>
                        <li><a href="#">网站建设</a></li>
                    </ul>
                </li>
                <li><a href="/gbook.html">留言</a></li>
            </ul>
        </div>
        <div class="paihang">
            <h2 class="hometitle">点击排行</h2>
            <ul>
                <li th:each="articleRead:${articleReads}"><b><a href="" th:href="@{/article/detail/{id}(id=${articleRead.id})}" target="_blank" th:text="${articleRead.articleName}">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
                    <p><i><img src="../../static/images/t02.jpg" th:src="${articleRead.articleImage}"></i><span th:text="${articleRead.articleAbstract}"></span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="cloud">
            <h2 class="hometitle">标签云</h2>
            <ul>
                <a href="/" th:each="articleType:${articleTypes}" th:text="${articleType.articleTypeName}" th:href="@{/article/type/{id}(id=${articleType.id})}">陌上花开</a>
            </ul>
        </div>
        <div class="paihang">
            <h2 class="hometitle">推荐文章推荐</h2>
            <ul>
                <li th:each="articleCommond:${articleCommonds}"><b><a href="" th:href="@{/article/detail/{id}(id=${articleCommond.id})}" target="_blank" th:text="${articleCommond.articleName}">【活动作品】柠檬绿兔小白个人博客模板30...</a></b>
                    <p><i><img src="../../static/images/t02.jpg" th:src="${articleCommond.articleImage}"></i><span th:text="${articleCommond.articleAbstract}"></span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="weixin">
            <h2 class="hometitle">官方微信</h2>
            <ul>
                <img src="../../static/images/weixin.png">
            </ul>
        </div>
        <div class="ad" id="left_flow2"><img src="../../static/images/ad.jpg"></div>
    </div>
</article>
<footer>
    <p>Design by <a href="/index.html">飞飞个人博客</a></p>
</footer>
<!--<script src="../../static/js/nav.js"></script>-->
<script src="../../static/lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<!--<script type="text/javascript">-->
<!--    jQuery.noConflict();-->
<!--    jQuery(function () {-->
<!--        var elm = jQuery('#left_flow2');-->
<!--        var startPos = jQuery(elm).offset().top;-->
<!--        jQuery.event.add(window, "scroll", function () {-->
<!--            var p = jQuery(window).scrollTop();-->
<!--            jQuery(elm).css('position', ((p) > startPos) ? 'fixed' : '');-->

<!--            jQuery(elm).css('top', ((p) > startPos) ? '0' : '');-->
<!--        });-->
<!--    });-->
<!--    </script>-->

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //监听提交
        form.on('submit(demo1)', function (data) {

            // 获取提交的信息
            var comment = $("#addComment").serialize();

            // 使用ajax提交数据
            $.ajax({
                type: 'POST',

                url: '/comment/add',

                data: comment,

                dataType: 'json',

                success: function (msg) {

                    if (msg.info == '请输入用户名') {

                        layer.msg("亲，请填写你的大名！");

                        return;
                    }

                    if (msg.info == '请输入邮箱') {

                        layer.msg("亲，请输一下你的邮箱，方便和你交流！");

                        return;
                    }

                    if (msg.info == '邮箱格式错误') {

                        layer.msg("亲，你的邮箱格式出错啦！");

                        return;
                    }

                    if (msg.info == '请输入评论内容') {

                        layer.msg("亲，说几句呗！");

                        return;
                    }

                    if (msg.info == '评论成功') {

                        layer.msg("亲，感谢评论", {icon: 1, time: 1000}, function () {

                            setTimeout('window.location.reload()', 1000);
                        });
                    }

                    if (msg.info == '评论失败') {

                        layer.msg("评论失败，请稍后再试！")
                    }
                },
                error: function () {

                    layer.msg("操作失败");

                    return;
                }

            });

            return false;
        });

    });
</script>
</body>
</html>
